<h1 class="text-center">{{"Resultados finales" | uppercase}}</h1>
<div class="container mt-4">
  <table class="table table-striped table-dark table-bordered text-center">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Fecha de ingreso</th>
        <th>Calificacion Final</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alumno of alumnos" [ngClass]="alumno.calificacion >= 0.70 ? 'table-success' : 'table-danger'">
        <td>{{alumno.id}}</td>
        <td class="text-start">{{alumno.nombre}}</td>
        <td class="text-start">{{alumno.apellido}}</td>
        <td>{{alumno.edad}}</td>
        <td>{{alumno.fechaIngreso | date}}</td>
        <td>{{alumno.calificacion | percent}}</td>
        <td class="text-center">
          <i *ngIf="alumno.calificacion >= 0.90" class="fas fa-award text-warning font-weight-bold" [ngStyle]="{'font-size': '1.5rem'}"></i>
        </td>
      </tr>
    </tbody>
  </table>

  <app-tabla-referencias/>
</div>

